.settings-wrapper {
  width: 400px;
  height: 300px;
  margin-top: 80px;
  background-color: violet;
  border-radius: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
  section {
    display: flex;
    flex-direction: column;
  }
}
select {
  width: 100px;
  font-size: 16px;
  margin-top: 10px;
  border: none;

}
