header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 94, 112);
  height: 10vh;
  min-height: 55px;

}

nav {
width: 300px;
margin-left: 100px;
}

.menu {
list-style: none;
display: flex;
justify-content: space-between;
li {
  cursor: pointer;
}

}

.menu li:hover,
.menu-active {
color: rgb(162, 148, 240);

}

.buttons-wrapper {
  margin-right: 100px;
  display: flex;
}

.register-btn,
.start-game-btn {
  margin-right: 50px;
  height: 40px;
  font-size: 1.1rem;
  color: mediumslateblue;
  background-color: aliceblue;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 11px;
}

.start-game-btn {
  display: none;
}

.register-btn:active,
.start-game-btn:active {
  background-color: rgb(80, 53, 233);
  color: aliceblue;

}

.user-block {
  max-width: 200px;
  color: aliceblue;
  display: none;
}

.firstName,
.secondName {
  margin-left: 5px;
}



